<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 <!-- cdn libraries for font asweom -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="home.css"> 
</head>
<body>
     <div class="container-fluid main_menu">
      <div class="row">
        <!-- <div class="col"> -->
          <div class="col-md-10 col-12 mx-auto">
            <nav class="navbar navbar-expand-lg ">
              <a class="navbar-brand" href="#" <span class="icon"><i class="fa-solid fa-house-user fa-beat" style="color: #ffffff;"></i></span> WEATHER</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> 
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
                    </div>
                  </nav>
                  
                </div>
              </div>
            </div>
<div class="container-fluid main_header">
        <div class="row1">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main-container">
                    <form class="temp-form">
                        <div class="searchbar">
                            <div class="div1">
                        <input type="number" id="cityname" placeholder="enter your city name" autocomplete="off">
                        </div>
                        <div class="mainsbtn">
                        <input type="submit" value="Search" id="searchbtn" >
                        </div>
                        </div>
                    </form>
                    <div class="mainbox">
                        <div class="mainbox2" id="mainbox2"> CITY </div>
                        <div class="mainbox3 data_hide">
                          <div class="m3one " id="m3one"> == DATA == </div>
                          <div class="m3two" id="m3two">icon</div>
                          </div>                    
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="js\weatherbacked.js" ></script>
</body>
</html>