* {
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

link {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-brand {
    color: rgb(255 255 255 / 90%);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler {
    background-color: rgb(253, 254, 255);
}

.navbar.navbar-expand-lg {
    background-color: black;
}

.trybutton {
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1rem;
    border-radius: 2rem;
    text-transform: capitalize;
    box-shadow: 0 8px 6px --7px;
    outline: none;
}


/* for weather page css */

.temp-form
#cityname {
    height: 7vh;
    width: 53vw;
    background-color:black;
    border-radius:1vh;
    color: white;
font-size: medium;
padding: 2vh;
}


#searchbtn {
    height: 6vh;
    width: 5vw;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    background-color: #1aa0d6;
    color: white;
    /* position: absolute; */
}

.mainbox {
    height: 31vh;
    width: 36vw;
    color: white;
    background-color: #403939;
    border-radius: 1rem;
    margin-top: 4rem;
    box-shadow: oklch;
}
::placeholder{
    color: white;
}
.mainbox2 {
    background-color: rgb(51, 255, 0);
    width: 33vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    margin: 0.4rem 1rem;
    border-radius: 5px;
}

.mainbox3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

}
.body {
    background-color: #2a2626;
}
.m3one, .m3two{
    display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
}

/* icon css */
.fa-solid.fa-cloud.fa-beat{
    color: #e6ebf5;
    font-size: 30px;
    line-height: 1.7;
    letter-spacing: 0.215em;
    font-weight: 900;
  }
#searchbtn{
    margin-left: 1vh;
}

@media (min-width : 990px) {
#searchbtn{
    top: 1vh;
    /* ity works only of min estu erbek edr 990max adre idu top work agathade */
left: auto;
}    
}
@media (min-width : 990px) {
.searchbar{
    display: flex;
}
}    
@media (max-width: 768px) {

    .temp-form #cityname {
    width: 40vh;
    }
    #searchbtn{
        width: 10vh;
    }
    .mainsbtn{
        display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3vh;
    }
.mainbox{width: 65vw;
    height: 35vh;}
    .mainbox2{
        display: flex
        ;
            align-items: center;
            justify-content: center;
            position: relative;
            left: 5vh;
            margin-top: 5vh;
        
    }



}